*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.main{
	background: #CFEAF0;
	height: auto;
	width: 100%;
}
.header{
	height: 100px;
	width: 100%;
	background: white;
	box-shadow: 0px 2px 2px rgba(128, 122, 122, 0.35);
}
.header p{
	float: left;
	margin-left: 40px;
	margin-top: 15px;
	font-size: 50px;
	font-weight: bold;
}
.header ul{
	float: right;
	margin-right: 30px;
}
.header ul li{
	display: inline-block;
	margin-top: 50px;
	margin-left: 20px;
	font-size: 17px;
	font-weight: bold;
	color: #252727;
}
.checkbtn{
	font-size: 30px;
	color: #262727;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}

.middle{
	display: flex;
}
.middle .img{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.middle .img .box{
	display: flex;
	flex-direction: column;
	width: 30%;	
	align-items: center;
	justify-content: space-around;
}
.middle .img .box img{
	width: 96%;
	height: 290px;	
	padding: 2px;
	border-radius: 20px;
}
@media (max-width: 1050px){
	.header p{
		margin-left: 30px;
		margin-top: 8px;
		font-size: 45px;
	}
	.header ul li{
		font-size: 18px;
	}
}
@media (max-width: 852px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		text-align: center;
		width: 100%;
		height: 100vh;
		left: -100%;
		top: 100px;
	}
	ul li{
		display: block;
	}
	#check:checked ~ ul{
		left: 0;
	}

	.middle{
		margin: 2rem 0;
	}

	.middle .img{
		flex-direction: column;
		width: 100%;
	}

	.middle .img .box{
		width: 90%;
		height: auto;
	}

	.middle .img .box img{
		object-fit: cover;
		height: 400px;
		height: auto;
		margin: 0.5rem 0;
	}
}
@media (max-width: 350px){
	.header{
		height: 70px;
	}
	.header p{
	margin-left: 20px;
	margin-top: 8px;
	}
	.header ul li{
		font-size: 15px;
	}
}